

{% extends 'layout.html' %}

{% block content %} 
  <div class =  "container">
    <h4 style="margin-left:45px"> Delete the employee? </h4>
    <hr>
      <p style = "margin-left:45px">
        Employee Name : {{emp.name}}
        <br><br>
        Employee ID : {{emp.id}}
        <br><br>
        Department : {{emp.department_id}}
        <br><br>
      <p>
    <br>
    <form action="{{ url_for('emp_record_blueprint.delete_employee', employee_id = employee_id) }}" method = "POST" style="margin-left:45px">
      <button type="submit" class="btn btn-sm btn-primary"> Delete </button>
      <span class="btn btn-sm btn-primary"><a href="{{url_for('emp_record_blueprint.emp_list')}}" style="color:red">Cancel</a></span>       

    </form>
  </div>

{% endblock content %}




<!-- {% block deleteConfirm %}

<!-- Modal Dialog 
<div class="modal" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="false">×</button>
        <h4 class="modal-title">Delete Parmanently</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this employee ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button method="post" type="button" onclick = "/delete/deleteemployee/1" class="btn btn-danger" id="confirm">Delete</button>
      </div>
    </div>
  </div>
</div>


<!-- Dialog show event handler 
<script type="text/javascript">
  $('#confirmDelete').on('show.bs.modal', function (e) {
      $message = $(e.relatedTarget).attr('data-message');
      $(this).find('.modal-body p').text($message);
      $title = $(e.relatedTarget).attr('data-title');
      $(this).find('.modal-title').text($title);

      // Pass form reference to modal for submission on yes/ok
      var form = $(e.relatedTarget).closest('form');
      $(this).find('.modal-footer #confirm').data('form', form);
  });

  <!-- Form confirm (yes/ok) handler, submits form 
  $('#confirmDelete').find('.modal-footer #confirm').on('click', function(){
      $(this).data('form').submit();
  });
</script>


{% endblock deleteConfirm %} 
-->