{% extends 'layout.html' %}

{% block content %} 
 
    <div class="container employee">

    <h4> List of Employees meeting the search criteria</h4>
    <ol>
        {% for emp in empResultSet %}
            <li type="1">
                <h8> {{ emp.name }} </h8>
                <br>
                <p style = "margin-left:5px" > Designation: {{ emp.designation}} </p>
                <p style = "margin-left:5px" >Phone #:{{ emp.phone }} </p>
            </li>
        {% endfor %}
    </ol>
    <br><br><br>
    <a class="btn icon-btn btn-success" href="{{ url_for('emp_record_blueprint.search_employee') }}">
    <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Start another search
    </a></a>
       
 </div>
{% endblock content %}